@charset "UTF-8"; 

.background-cover, .carousel .inner-item {
	background: url(image/t9.jpg?rev=2);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat
}

html {
	-webkit-tap-highlight-color: transparent
}

#doc, body {
	position: relative;
	height: 100%;
	word-break: break-all
}

@media ( min-width :768px) {
	#doc {
		width: 750px
	}
	#doc .navbar-fixed-top {
		width: 750px;
		left: 0;
		right: 0;
		margin: 0 auto
	}
}

#doc-body {
	-webkit-overflow-scrolling: touch
}

#doc .align-parent-bottom {
	position: absolute;
	bottom: 16px;
	left: 0;
	right: 0;
	text-align: center
}

#imgcode {
	padding: 0;
	width: 112px;
	height: 35px
}

.navbar {
	min-height: 45px;
	width: 100%;
	border: none
}

.navbar .navbar-title {
	font-size: 16px;
	height: 45px;
	line-height: 45px;
	margin: 0 45px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.navbar .navbar-icon {
	width: 45px;
	height: 45px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer
}

.navbar .navbar-icon:active {
	background: rgba(00, 00, 00, .2)
}

.navbar .navbar-icon .iconfont {
	line-height: 45px;
	top: 0;
	color: #fff
}

.form-horizontal .form-group {
	border: none;
	border-bottom: 1px solid #e5e5e5
}

.form-horizontal .form-group .form-control {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none
}

.form-horizontal .form-group.form-group-normal {
	border: none
}

.form-horizontal .form-group.form-group-normal .form-control {
	border: 1px solid #ccc
}

.form-horizontal .form-group .help-block {
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis
}

.form-horizontal .form-group.has-error .help-block, .form-horizontal .form-group.has-success .help-block,
	.form-horizontal .form-group.has-warnning .help-block {
	display: block
}

.form-horizontal .form-group button[type=submit] {
	float: right;
	top: 3px
}

.form-horizontal .form-group button[type=submit]+.help-block {
	margin-right: 72px
}

.form-horizontal .form-group-tip {
	border: none;
	margin-top: 0
}

.form-horizontal .form-group-submit {
	border: none;
	margin-top: 8px
}

.form-horizontal .has-action .input-action-trigger {
	font-size: 18px
}

.form-horizontal .control-label {
	color: #727272;
	text-align: left
}

.form-horizontal .control-label .iconfont {
	font-size: 14px;
	color: #727272;
	margin-right: 4px
}

.form-horizontal .ulite-js-checkbox {
	padding-top: 3px
}

#doc-content {
	position: absolute;
	top: 30%;
	left: 0;
	right: 0
}

.modal>.vertical-middle-block {
	padding: 0 8px;
	height: 100%;
	pointer-events: none
}

.modal>.vertical-middle-block>.vertical-middle-block-cell {
	margin: 0;
	width: 100%;
	max-width: 718px;
	pointer-events: auto
}

.modal-content {
	text-align: left
}

.modal-content .btn-raised {
	-webkit-box-shadow: none;
	box-shadow: none
}

.protocal-container iframe {
	width: 100%;
	height: 350px;
	overflow: auto;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch
}

.carousel .inner-item {
	width: 100%;
	height: 240px
}

.carousel .carousel-caption {
	left: 0;
	right: 0;
	bottom: 0;
	padding: 12px 16px;
	background: rgba(0, 0, 0, .6);
	text-align: left
}

.content-panel {
	background: #fff
}

.content-panel .content-panel-body {
	min-height: 0
}

.content-panel .content-panel-body.content-panel-body-full {
	padding: 0
}

.content-panel ~.content-panel {
	margin-top: 0
}

.content-outside-title {
	line-height: 36px;
	padding: 0 16px;
	font-size: 15px
}

.nowrap-content {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.wrap-content {
	white-space: normal
}

.fixed-left-container {
	padding-left: 100px;
	width: auto
}

.fixed-left-container .fixed-left {
	float: left;
	width: 100px;
	margin-left: -100px
}

.fixed-right-container {
	padding-right: 80px;
	width: auto
}

.fixed-right-container .fixed-right {
	float: right;
	width: 80px;
	margin-right: -80px;
	text-align: right
}

#toast-container {
	bottom: 5%
}

.text-money {
	color: #cb8600
}

.text-money .text-price {
	font-size: 16px
}

.has-icon-line {
	position: relative;
	line-height: 24px;
	padding-left: 32px
}

.has-icon-line .iconfont {
	position: absolute;
	top: 50%;
	margin-top: -12px;
	left: 0
}

.has-icon-line.icon-line-right {
	padding-left: 0;
	padding-right: 32px
}

.has-icon-line.icon-line-right .iconfont {
	left: auto;
	right: 0
}

.has-icon-line.icon-line-both .iconfont.icon-line-right {
	left: auto;
	right: 0
}

.horizontal-padding-sm {
	padding-left: 12px;
	padding-right: 8px
}

.centeral-container {
	position: absolute;
	top: 45px;
	bottom: 0;
	left: 0;
	right: 0
}

.centeral-container .centeral-content {
	width: 100%
}

#loadingContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1050
}

#loading {
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -63px;
	padding: 16px 32px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, .65);
	z-index: 1
}

.cssload-loader {
	position: relative;
	left: -webkit-calc(50% - 31px);
	left: calc(50% - 31px);
	width: 62px;
	height: 62px;
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-perspective: 780px;
	perspective: 780px
}

.cssload-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%
}

.cssload-inner.cssload-one {
	left: 0;
	top: 0;
	animation: cssload-rotate-one 1.15s linear infinite;
	-o-animation: cssload-rotate-one 1.15s linear infinite;
	-ms-animation: cssload-rotate-one 1.15s linear infinite;
	-webkit-animation: cssload-rotate-one 1.15s linear infinite;
	-moz-animation: cssload-rotate-one 1.15s linear infinite;
	border-bottom: 3px solid #fff
}

.cssload-inner.cssload-two {
	right: 0;
	top: 0;
	animation: cssload-rotate-two 1.15s linear infinite;
	-o-animation: cssload-rotate-two 1.15s linear infinite;
	-ms-animation: cssload-rotate-two 1.15s linear infinite;
	-webkit-animation: cssload-rotate-two 1.15s linear infinite;
	-moz-animation: cssload-rotate-two 1.15s linear infinite;
	border-right: 3px solid #fff
}

.cssload-inner.cssload-three {
	right: 0;
	bottom: 0;
	animation: cssload-rotate-three 1.15s linear infinite;
	-o-animation: cssload-rotate-three 1.15s linear infinite;
	-ms-animation: cssload-rotate-three 1.15s linear infinite;
	-webkit-animation: cssload-rotate-three 1.15s linear infinite;
	-moz-animation: cssload-rotate-three 1.15s linear infinite;
	border-top: 3px solid #fff
}

@
keyframes cssload-rotate-one { 0%{
	-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
	transform: rotateX(35deg) rotateY(-45deg) rotateZ(0)
}

100%{
-webkit-transform
:rotateX(35deg)
 
rotateY
(-45deg)
 
rotateZ
(360deg);transform
:rotateX(35deg)
 
rotateY
(-45deg)
 
rotateZ
(360deg)
}
}
@
-o-keyframes cssload-rotate-one { 0%{
	-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0)
}

100%{
-o-transform
:rotateX(35deg)
 
rotateY
(-45deg)
 
rotateZ
(360deg)
}
}
@
-ms-keyframes cssload-rotate-one { 0%{
	-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0)
}

100%{
-ms-transform
:rotateX(35deg)
 
rotateY
(-45deg)
 
rotateZ
(360deg)
}
}
@
-webkit-keyframes cssload-rotate-one { 0%{
	-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0)
}

100%{
-webkit-transform
:rotateX(35deg)
 
rotateY
(-45deg)
 
rotateZ
(360deg)
}
}
@
-moz-keyframes cssload-rotate-one { 0%{
	-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0)
}

100%{
-moz-transform
:rotateX(35deg)
 
rotateY
(-45deg)
 
rotateZ
(360deg)
}
}
@
keyframes cssload-rotate-two { 0%{
	-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
	transform: rotateX(50deg) rotateY(10deg) rotateZ(0)
}

100%{
-webkit-transform
:rotateX(50deg)
 
rotateY
(10deg)
 
rotateZ
(360deg);transform
:rotateX(50deg)
 
rotateY
(10deg)
 
rotateZ
(360deg)
}
}
@
-o-keyframes cssload-rotate-two { 0%{
	-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0)
}

100%{
-o-transform
:rotateX(50deg)
 
rotateY
(10deg)
 
rotateZ
(360deg)
}
}
@
-ms-keyframes cssload-rotate-two { 0%{
	-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0)
}

100%{
-ms-transform
:rotateX(50deg)
 
rotateY
(10deg)
 
rotateZ
(360deg)
}
}
@
-webkit-keyframes cssload-rotate-two { 0%{
	-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0)
}

100%{
-webkit-transform
:rotateX(50deg)
 
rotateY
(10deg)
 
rotateZ
(360deg)
}
}
@
-moz-keyframes cssload-rotate-two { 0%{
	-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0)
}

100%{
-moz-transform
:rotateX(50deg)
 
rotateY
(10deg)
 
rotateZ
(360deg)
}
}
@
keyframes cssload-rotate-three { 0%{
	-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
	transform: rotateX(35deg) rotateY(55deg) rotateZ(0)
}

100%{
-webkit-transform
:rotateX(35deg)
 
rotateY
(55deg)
 
rotateZ
(360deg);transform
:rotateX(35deg)
 
rotateY
(55deg)
 
rotateZ
(360deg)
}
}
@
-o-keyframes cssload-rotate-three { 0%{
	-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0)
}

100%{
-o-transform
:rotateX(35deg)
 
rotateY
(55deg)
 
rotateZ
(360deg)
}
}
@
-ms-keyframes cssload-rotate-three { 0%{
	-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0)
}

100%{
-ms-transform
:rotateX(35deg)
 
rotateY
(55deg)
 
rotateZ
(360deg)
}
}
@
-webkit-keyframes cssload-rotate-three { 0%{
	-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0)
}

100%{
-webkit-transform
:rotateX(35deg)
 
rotateY
(55deg)
 
rotateZ
(360deg)
}
}
@
-moz-keyframes cssload-rotate-three { 0%{
	-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0)
}

100%{
-moz-transform
:rotateX(35deg)
 
rotateY
(55deg)
 
rotateZ
(360deg)
}
}
.btn-language-pos {
	position: absolute;
	left: 16px;
	top: 16px;
	z-index: 10000
}

.btn-language-pos .languageSwitch {
	min-width: 0
}

.btn-language-pos .languageSwitch a {
	padding: 3px 12px
}

.areaCode {
	position: absolute
}

.areaCode .dropdown-menu {
	height: 180px;
	width: 300px;
	overflow-y: scroll
}

.areaCode a[data-toggle=dropdown], .areaCode a[data-toggle=dropdown]:focus
	{
	font-size: 16px;
	color: #333;
	height: 36px;
	line-height: 36px
}

#doc-content input.paddingArea {
	padding-left: 58px
}

#confirmationModal .padding-content, #idCardChangeModal .padding-content,
	#idCardModal .padding-content {
	text-align: right
}

#confirmationModal .horizontal-padding, #idCardChangeModal .horizontal-padding,
	#idCardModal .horizontal-padding {
	padding-right: 8px
}

#confirmationModal .modal-dialog, #idCardChangeModal .modal-dialog,
	#idCardModal .modal-dialog {
	height: 80%;
	position: absolute;
	bottom: 0;
	left: 0
}

#confirmationModal .modal-dialog .modal-content, #idCardChangeModal .modal-dialog .modal-content,
	#idCardModal .modal-dialog .modal-content {
	height: 100%;
	-webkit-border-radius: initial;
	border-radius: initial;
	border: 0
}

#confirmationModal .container, #idCardChangeModal .container,
	#idCardModal .container {
	max-width: 800px
}

#confirmationModal .modal-header, #idCardChangeModal .modal-header,
	#idCardModal .modal-header {
	padding: 0;
	border: 0;
	height: 8%;
	background: #ca8700;
	position: relative
}

#confirmationModal .modal-header .header-title, #idCardChangeModal .modal-header .header-title,
	#idCardModal .modal-header .header-title {
	color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 160px;
	text-align: center;
	margin-left: -80px;
	margin-top: -11px
}

#confirmationModal .modal-header .confirmation-cancel,
	#confirmationModal .modal-header .header-cancel, #confirmationModal .modal-header .header-reset,
	#idCardChangeModal .modal-header .confirmation-cancel,
	#idCardChangeModal .modal-header .header-cancel, #idCardChangeModal .modal-header .header-reset,
	#idCardModal .modal-header .confirmation-cancel, #idCardModal .modal-header .header-cancel,
	#idCardModal .modal-header .header-reset {
	color: #fff;
	position: absolute;
	right: 16px;
	top: 50%;
	font-size: 13px;
	margin-top: -13px;
	line-height: 30px;
	height: 30px;
	cursor: pointer
}

#confirmationModal .modal-header .confirmation-back, #idCardChangeModal .modal-header .confirmation-back,
	#idCardModal .modal-header .confirmation-back {
	color: #fff;
	position: absolute;
	top: 50%;
	font-size: 13px;
	margin-top: -13px;
	line-height: 30px;
	height: 30px;
	left: 16px
}

#confirmationModal .modal-body, #idCardChangeModal .modal-body,
	#idCardModal .modal-body {
	height: 92%;
	padding: 0
}

#confirmationModal .modal-body .edit-box, #idCardChangeModal .modal-body .edit-box,
	#idCardModal .modal-body .edit-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 16px solid #f1f1f1;
	border-right: 16px solid #f1f1f1
}

#confirmationModal .vertical-middle-block, #idCardChangeModal .vertical-middle-block,
	#idCardModal .vertical-middle-block {
	position: relative;
	padding: 0
}

#confirmationModal .vertical-middle-block-cell, #idCardChangeModal .vertical-middle-block-cell,
	#idCardModal .vertical-middle-block-cell {
	vertical-align: initial;
	max-width: 800px
}

.header-title {
	font-size: 16px
}

#idCardChangeModal .modal-dialog .modal-content {
	background: #f1f1f1
}

#idCardChangeModal .modal-body #uploadForm {
	height: 100%
}

#idCardChangeModal .modal-body .camera-container {
	height: 36%;
	background: #fff;
	width: 100%;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 16px solid #f1f1f1;
	border-left: 16px solid #f1f1f1;
	border-right: 16px solid #f1f1f1
}

#idCardChangeModal .modal-body .camera-container .camera-border {
	height: 58%;
	width: 160px;
	position: absolute;
	top: 9.6%;
	left: 50%;
	margin-left: -80px;
	background: url(image/camera.png) center no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%
}

#idCardChangeModal .modal-body .camera-container .camera-tip {
	position: absolute;
	font-size: 14px;
	bottom: 5%;
	left: 50%;
	text-align: center;
	width: 84px;
	margin-left: -42px;
	color: #666
}

#idCardChangeModal .modal-body .tip-container {
	font-size: 13px;
	word-wrap: break-word;
	white-space: normal;
	line-height: 20px;
	margin-bottom: 24px;
	padding: 0 16px;
	text-indent: 28px;
	padding-top: 16px
}

.get-photo {
	height: 100%;
	width: 100%
}

.edit-container {
	height: 40px;
	width: 100%;
	background: #fc7c11;
	color: #fff;
	line-height: 40px;
	text-align: center;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 0;
	outline: 0
}

@media ( max-width :413px) {
	#idCardChangeModal .modal-body .camera-container .camera-border {
		width: 144px;
		margin-left: -72px
	}
	#idCardChangeModal .modal-body .tip-container {
		line-height: 18px;
		margin-bottom: 14px
	}
	.edit-container {
		height: 38px;
		line-height: 38px
	}
}

@media ( max-width :320px) {
	#idCardChangeModal .modal-body .camera-container .camera-border {
		width: 120px;
		margin-left: -60px
	}
	#idCardChangeModal .modal-body .tip-container {
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 10px
	}
	.edit-container {
		height: 36px;
		line-height: 36px
	}
	.header-title {
		font-size: 14px
	}
}

.submitConfir-box {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 16px solid #fff;
	border-right: 16px solid #fff
}

#bindMobileModal .icon-phones {
	background: url(../images/mobile-phone.png) no-repeat;
	-webkit-background-size: 14px 16px;
	background-size: 14px 16px;
	display: block;
	width: 14px;
	height: 16px;
	margin-top: 10px
}

#bindMobileModal .icon-name {
	background: url(../images/idCard.png) no-repeat;
	-webkit-background-size: 14px 16px;
	background-size: 14px 16px;
	display: block;
	width: 14px;
	height: 16px;
	margin-top: 10px
}

#bindMobileModal .icon-sfz {
	background: url(../images/idCard2.png) no-repeat;
	-webkit-background-size: 14px 16px;
	background-size: 14px 16px;
	display: block;
	width: 14px;
	height: 16px;
	margin-top: 10px
}

#bindMobileModal .col-xs-1 {
	padding: 0
}

#bindMobileModal .home-icon {
	background: url(image/back-home.png) no-repeat;
	-webkit-background-size: 21px 19px;
	background-size: 21px 19px;
	display: block;
	width: 21px;
	height: 19px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -10px
}

#bindMobileModal .icon-yanzheng {
	background: url(../images/my_review_user_icon_normal.png) no-repeat;
	-webkit-background-size: 14px 16px;
	background-size: 14px 16px;
	display: block;
	width: 14px;
	height: 16px;
	margin-top: 10px
}

#bindMobileModal .paddingArea {
	padding-left: 50px
}

#bindMobileModal .form-control {
	font-size: 14px
}

@media ( max-width :420px) {
	.carousel .inner-item {
		height: 240px
	}
}

@media ( max-width :380px) {
	.carousel .inner-item {
		height: 214px
	}
}

@media ( max-width :320px) {
	.carousel .inner-item {
		height: 180px
	}
}