.order-one-icon {
	background: url(../images/order-one.png) no-repeat;
	-webkit-background-size: 16px 18px;
	background-size: 16px 18px;
	display: block;
	width: 16px;
	height: 18px;
	position: absolute;
	left: 2px;
	top: 10px
}

.idCard-one-icon span {
	background: url(../images/idCard2.png) center no-repeat;
	-webkit-background-size: 20px 20px;
	background-size: 20px;
	display: block;
	width: 20px;
	height: 24px;
	position: absolute;
	left: 2px;
	top: 10px
}

.bindIdCardNum, .unBindIdCard, .bangDingCard {
	position: absolute;
	top: 0;
	right: 8px;
	height: 40px;
	line-height: 40px
}

.unBindIdCard,.bangDingCard {
	color: #cb8600;
	cursor: pointer
}

.vip-one-icon {
	background: url(../images/vip-one.png) no-repeat;
	-webkit-background-size: 16px 18px;
	background-size: 16px 18px;
	display: block;
	width: 16px;
	height: 18px;
	position: absolute;
	left: 2px;
	top: 10px
}

.photo-one-icon1 {
	background: url(../images/idCard.png) no-repeat;
	-webkit-background-size: 16px 18px;
	background-size: 16px 18px;
	display: block;
	width: 16px;
	height: 18px;
	position: absolute;
	left: 2px;
	top: 12px
}

.photo-one-icon {
	background: url(../images/mobile-phone.png) no-repeat;
	-webkit-background-size: 16px 18px;
	background-size: 16px 18px;
	display: block;
	width: 16px;
	height: 18px;
	position: absolute;
	left: 2px;
	top: 12px
}

.key-one-icon {
	background: url(../images/key-one.png) no-repeat;
	-webkit-background-size: 16px 18px;
	background-size: 16px 18px;
	display: block;
	width: 16px;
	height: 18px;
	position: absolute;
	left: 2px;
	top: 12px
}

.horizontal-padding-sm {
	padding-left: 16px
}

.enter {
	background: url(../images/personal_icon_arrow.png) center no-repeat;
	-webkit-background-size: 10px 18px;
	background-size: 10px 18px;
	position: absolute;
	right: 8px;
	top: 0;
	width: 10px;
	height: 40px
}