#scrollable-detail {
	padding-bottom: 16px
}

.selectable-block {
	background: url(../images/room-status-mid-01.png) no-repeat 50% 0;
	-webkit-background-size: 32px 40px;
	background-size: 32px 40px;
	float: left
}

.selectable-block .vertical-middle-block {
	height: 90px;
	-webkit-border-radius: 4%;
	border-radius: 4%;
	cursor: pointer
}

.selectable-block .vertical-middle-block div {
	max-height: 84px
}

.selectable-block.selected {
	background: url(../images/room-status-mid-02.png) no-repeat 50% 0;
	-webkit-background-size: 32px 40px;
	background-size: 32px 40px
}

.selectable-block.disabled {
	background: url(../images/room-status-mid-03.png) no-repeat 50% 0;
	-webkit-background-size: 32px 40px;
	background-size: 32px 40px
}

#doc {
	background: #fafafa
}

.content-outside-title {
	line-height: 38px;
	padding: 0 16px
}

.horizontal-padding {
	padding: 0
}

.checkbox-box-room {
	line-height: 36px;
	height: 36px;
	width: 100%;
	background-color: #d8d8d8
}

.checkbox-box-room li {
	list-style: none;
	float: left;
	height: 28px;
	padding-left: 24px;
	font-size: 14px;
	padding-right: 8px
}

.checkbox-box-room li:nth-of-type(1) {
	margin-left: 16px;
	background: url(../images/room-status-01.png) no-repeat 0 8px;
	-webkit-background-size: 15px 18px;
	background-size: 15px 18px
}

.checkbox-box-room li:nth-of-type(2) {
	background: url(../images/room-status-02.png) no-repeat 0 8px;
	-webkit-background-size: 15px 18px;
	background-size: 15px 18px
}

.checkbox-box-room li:nth-of-type(3) {
	background: url(../images/room-status-03.png) no-repeat 0 8px;
	-webkit-background-size: 15px 18px;
	background-size: 15px 18px
}

#scrollable-detail .col-xs-2 {
	padding: 0
}

.vertical-padding {
	padding: 20px 0 0 0
}

.vertical-middle-block-cell {
	margin-top: 25px;
	text-align: center;
	display: block;
	font-size: 12px
}

.content-panel {
	border: none;
	background: #f5f5f5
}

.room-booking-style {
	padding: 16px
}

.btn-primary.btn-raised {
	background-color: #fc7b10
}

.vertical-middle-block:before {
	height: auto
}

.vertical-middle-block {
	white-space: normal
}

.content-outside-title {
	background: #fff
}

.row {
	height: 59px;
	line-height: 59px;
	padding: 0 16px;
	background: #f6f6f6;
	width: auto
}

#header .navbar {
	width: 56px
}

#header .navbar-icon {
	background: #000;
	-moz-opacity: .5;
	-khtml-opacity: .5;
	opacity: .5;
	margin-right: 10px;
	margin-top: 10px;
	height: 45px;
	width: 45px;
	position: relative;
	-webkit-border-radius: 50%;
	border-radius: 50%
}

.gohome-right {
	background: url(image/gohome.png) no-repeat;
	display: block;
	width: 26px;
	height: 22px;
	-webkit-background-size: 26px 22px;
	background-size: 26px 22px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -12px 0 0 -13px
}

.cardStyle {
	font-size: 10px;
	color: #333
}

.charityPrice-content {
	color: #cb8600;
	font-size: 12px;
	margin-left: 8px
}